#profile-wrapper {
	width: 100vw;
	height: calc(100vh - 44px);
}

/* HEAD */
#head-wrapper {
	margin: auto;
	width: calc(100% - 20vw);
	height: 20vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#head-profile-img {
	height: 25vw;
	width: 25vw;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0px 2px 12px lightgrey;
	border: 2px solid white;
}

#head-data-cont {
	width: 50vw;
	height: 25vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#head-username {
	font-size: 1.3rem;
	font-weight: 500;
}

#head-tag {
	font-size: 0.8rem;
	color: grey;
}

#head-bio {
	font-size: 1rem;
}

/* DATA */
#data-wrapper {
	width: 100%;
	height: 12vh;
	display: flex;
	justify-content: center;
}

#data-width-wrapper {
	width: calc(100% - 20vw);
	display: flex;
	justify-content: space-between;
	border-top: 1px solid rgb(230, 230, 230);
	border-bottom: 1px solid rgb(230, 230, 230);
}

.data-cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(75% / 3);
}

.data-number {
	font-size: 1rem;
	font-weight: 700;
}

.data-label {
	font-size: 0.7rem;
	color: grey;
}

/* INTERACTIONS */
#interactions-wrapper {
	width: calc(100% - 20vw);
	margin: auto;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#interactions-follow-btn {
	width: 73%;
	height: 60%;
	border: 0px;
	border-radius: 7px;
	/* background: rgb(109, 115, 250);
	background: linear-gradient(90deg, rgba(109, 115, 250, 1) 0%, rgba(139, 0, 255, 1) 100%); */
	background: #e91e63;
	font-size: 0.8rem;
	font-weight: 500;
	color: white;
	box-shadow: 0px 2px 12px lightgrey;
	outline: none;
	cursor: pointer;
}

#interactions-follow-btn:active {
	transition: 0.1s ease-in-out;
	box-shadow: none;
}

#interactions-message-btn {
	width: 20%;
	height: 60%;
	border: 0px;
	border-radius: 7px;
	background: rgb(224, 224, 224);
	font-size: 1.2rem;
	color: black;
	box-shadow: 0px 2px 12px lightgrey;
	outline: none;
	cursor: pointer;
}

#interactions-message-btn:active {
	transition: 0.1s ease-in-out;
	box-shadow: none;
}

#interactions-message-img {
	object-fit: cover;
	width: 35%;
}

/* GRID */
#grid-wrapper {
	width: calc(100vw - 10vw);
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.grid-box {
	width: calc(85vw / 3);
	height: calc(85vw / 3);
	margin: calc(2.5vw / 3);
	border: 1px solid rgb(230, 230, 230);
	border-radius: 10px;
}
