.feed-wrapper {
	width: 100vw;
	display: flex;
	flex-direction: column;
	margin: 2vh 0vh;
	/* margin-bottom: 44px; */
}

/* HEADER */

.feed-header {
	width: 85%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.feed-header-profile-picture {
	height: 10vw;
	width: 10vw;
	border-radius: 8px;
	object-fit: cover;
}

.feed-header-info {
	width: 60%;
	display: flex;
	flex-direction: column;
}

.feed-header-username {
	font-size: 0.9rem;
}

.feed-header-location {
	font-size: 0.7rem;
	color: lightgrey;
}

.feed-header-time {
	align-self: flex-end;
	width: 20%;
	font-size: 0.7rem;
	/* color: rgb(230, 230, 230); */
	color: lightgrey;
}

/* CONTENT */
.feed-content {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.feed-text {
	width: 85%;
	margin: auto;
	margin: 1vh auto;
}

.feed-img {
	width: 85%;
	margin: 3vh auto;
	object-fit: cover;
	border-radius: 30px;
	box-shadow: 0px 2px 12px lightgrey;
}

/* INTERACTIONS */
.feed-interactions {
	width: 85%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.feed-interactions-options {
	width: 5%;
	object-fit: contain;
}
.feed-interactions-data {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

.feed-interactions-boxes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 36%;
}
.feed-interactions-like-btn {
	width: 15px;
	height: 15px;
	border: 3px solid #4f3ab7;
	border-radius: 50%;
	cursor: pointer;
}

.feed-interactions-comment-btn {
	width: 15px;
	height: 15px;
	border: 3px solid #e91e63;
	border-radius: 4px;
	cursor: pointer;
}
